In [41]:
%matplotlib qt
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 22})

In [31]:
df = pd.read_csv("cleaned_twitter_data.csv", encoding = "ISO-8859-1", parse_dates = ["date"], index_col="date")
df.head()

,text,retweets,favorites,polarity,subjectivity
date,,,,,
2008-06-06 13:49:36,I think the NSA has a pig latin interpreter Il...,0,0,-0.500000,1.000000
2008-06-06 11:36:18,Suggestion for Audible pick for Security Now D...,0,0,0.000000,0.000000
2008-06-07 14:55:37,Ooops Do you think the NSA heard me,0,0,0.000000,0.000000
2008-06-07 12:57:52,ncmr dragnet surveillance by NSA at San Fran ...,0,0,0.000000,0.000000
2008-06-07 12:13:37,Things that get people excited Chinatown bus b...,0,0,0.021032,0.594921

In [32]:
df.describe()

            retweets      favorites       polarity   subjectivity
count  237825.000000  237825.000000  237825.000000  237825.000000
mean       21.663063      27.292383       0.063215       0.302196
std       182.413328     334.600210       0.254161       0.314500
min         0.000000       0.000000      -1.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         3.000000       2.000000       0.000000       0.250000
75%        10.000000       8.000000       0.150000       0.516667
max     23750.000000   62001.000000       1.000000       1.000000

In [67]:
len(df)

237825

In [33]:
mn_df = df.groupby(pd.Grouper(freq="M")).mean()
mn_df.head()

            retweets  favorites  polarity  subjectivity
date
2008-06-30  0.000000   0.056180  0.011285      0.350658
2008-07-31  0.005263   0.031579  0.051052      0.271009
2008-08-31  0.000000   0.021368  0.093495      0.287946
2008-09-30  0.000000   0.048611  0.020654      0.310995
2008-10-31  0.000000   0.080247  0.071140      0.310737

In [68]:
fig, ax = plt.subplots(figsize=(15,7))
(mn_df["polarity"] - mn_df["polarity"].mean()).plot(ax=ax, xticks=mn_df.index)
ax.set_xlabel("Date")
ax.set_ylabel("Polarity")
ax.set_title("Polarity Decreases (and Remains Decreased) After Snowden")
plt.axvline(x=dt.datetime(2013, 6, 6), lw=3.0)
plt.axhline(y=0, lw=3.0, ls='--')
#plt.grid()
plt.show()

In [69]:
fig, ax = plt.subplots(figsize=(15,7))
(mn_df["subjectivity"] - mn_df["subjectivity"].mean()).plot(ax=ax, xticks=mn_df.index)
ax.set_xlabel("Date")
ax.set_ylabel("Subjectivity")
plt.axvline(x=dt.datetime(2013, 6, 6), lw=3.0)
plt.axhline(y=0, lw=3.0, ls='--')
#plt.grid()
plt.show()

In [70]:
fig, ax = plt.subplots(figsize=(15,7))
(mn_df["retweets"]).plot(ax=ax, xticks=mn_df.index)
ax.set_xlabel("Date")
ax.set_ylabel("Retweets")
plt.axvline(x=dt.datetime(2013, 6, 6), lw=3.0)
plt.axhline(y=0, lw=3.0, ls='--')
#plt.grid()
plt.show()

In [71]:
fig, ax = plt.subplots(figsize=(15,7))
(mn_df["favorites"]).plot(ax=ax, xticks=mn_df.index)
ax.set_xlabel("Date")
ax.set_ylabel("Favorites")
plt.axvline(x=dt.datetime(2013, 6, 6), lw=3.0)
plt.axhline(y=0, lw=3.0, ls='--')
#plt.grid()
plt.show()